@media screen and (max-width: 730px){

    .wrapper{
        flex-direction: column;
    }

    .today{
        padding: 16px;
        width: 100%;
        height: 30svh;
        position: relative;

        .text{
            margin-top: -10px;
            font-size: 40px;
            text-align: center;
        }

        &__img{
            height: 70px;
            position: absolute;
            transform: translateX(-50%);
        }
        &__details{
            width: 100%;
            gap: 80px;
            font-size: 12px;
            position: relative;
            top: 10px;
            margin: 0;

            p{
                margin-top: -8px;
            }

            img{
                height: 30px;
                margin-bottom: 10px;
            }
        }

        &__weather{
            text-align: center;
            position: absolute;
            width: 200px;
            top: 10svh;
            margin-left: 200px;

            .temp{
                font-size: 70px;
                font-weight: 700;
                margin-left: -210px;
                margin-top: -30px;

                span{
                    font-weight: 400;
                }
            }

            .condition{
                margin-top: -75px;
                // margin-left: 80px;
                position: absolute;
                right: 15px;
                font-size: 32px;
            }
        }
    }

    .additional-info{
        width: 100%;
        height: 70svh;
        padding: 16px;

        .options{
            margin: -25px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #9f9f9f;
            width: 100%;
            padding: 4px 0 0 0;

            .search-icon{
                width: 30px;
                height: 30px;
                margin: 3px 0 0 0;
            }

            .city{
                font-size: 30px;
                width: 100%;
                padding: 8px 16px;
                border: none;
                outline: none;
                margin-top: 6px;
                margin-left: 30px;
            }

            .swither{
                font-size: 26px;
                margin-top: 6px;

                .switch {
                    width: 50px;
                    height: 30px;
                }

                .slider:before {
                    height: 22px;
                    width: 22px;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
            }
        }

        .chart{
            margin-top: 50px;
            width: 100%;
            min-height: 200px;
        }

        .forecast{
            margin-top: 16px;
            justify-content: start;
            overflow-x: scroll;
            min-height: 180px;
            max-height: 350px;
            padding-bottom: 10px;

            .days{
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                flex-shrink: 0;

                .day{
                    font-size: 20px;
                }

                .img-container{
                    width: 50px;
                    height: 50px;
                    gap: 0;

                    img{
                        height: 160%;
                    }
                }

                .card-temp{
                    margin-top: 4px;
                    font-size: 40px;
                }

                .card-condition{
                    font-size: 20px;
                }
            }
        }

    }
}