@media (min-width: 731px) and (max-width: 1024px) {

    .wrapper{
        flex-direction: column;
    }

    .today{
        padding: 80px 16px 16px 16px;
        width: 100%;
        height: 30svh;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;

        .text{
            position: absolute;
            margin-top: -320px;
            font-size: 60px;
            text-align: center;
        }

        &__img{
            margin: 0 0 0 -50px;
            height: 150px;
            width: 200px;
            order: 1;
            // border: 1px solid red;
            img{
                height: 150%;
            }
        }
        &__details{
            margin-top: 20px;
            gap: 50px;
            font-size: 18px;
            order: 3;

            p{
                margin-top: -8px;
            }

            img{
                height: 60px;
                margin-bottom: 10px;
            }
        }

        &__weather{
            text-align: center;
            width: 200px;
            margin-left: -120px;
            order: 2;

            .temp{
                font-size: 80px;
                font-weight: 700;

                span{
                    font-weight: 400;
                }
            }

            .condition{
                margin-top: -30px;
                font-size: 36px;
            }
        }
    }

    .additional-info{
        width: 100%;
        height: 70svh;
        padding: 16px;

        .options{
            margin: -25px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #9f9f9f;
            width: 100%;
            padding: 4px 0 0 0;

            .search-icon{
                width: 45px;
                height: 45px;
                margin: 3px 0 0 0;
            }

            .city{
                font-size: 50px;
                width: 100%;
                padding: 8px 16px;
                border: none;
                outline: none;
                margin-top: 6px;
                margin-left: 50px;
            }

            .swither{
                font-size: 26px;
                margin-top: 6px;

                .switch {
                    width: 50px;
                    height: 30px;
                }

                .slider:before {
                    height: 22px;
                    width: 22px;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
            }
        }

        .chart{
            margin-top: 50px;
            width: 100%;
            min-height: 200px;
        }

        .forecast{
            margin-top: 16px;
            justify-content: start;
            min-height: 300px;
            padding-bottom: 10px;

            .days{
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                flex-shrink: 0;

                .day{
                    font-size: 26px;
                }

                .img-container{
                    width: 80px;
                    height: 80px;
                    gap: 0;

                    img{
                        height: 160%;
                    }
                }

            }
        }

    }
}